!!!
%html
  %head
    %title WithLove
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render partial: 'shared/navbar'
    .container
      = yield
    %footer
      = javascript_include_tag "application", "data-turbolinks-track" => true